
//COLOUR

$colour-black: #000000;
$colour-darkest-grey: #111111;
$colour-darker-grey: #333333;
$colour-dark-grey: #666666;
$colour-mid-grey: #868E96;
$colour-grey: #ADB5BD;
$colour-light-grey: #C2C5D4;
$colour-lighter-grey: #E9ECEF;
$colour-white: #FFFFFF;

$colour-mid-blue: #1864AB;
$colour-light-blue: #339AF0;

